@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.header{
    min-width: 95vw;
    margin-left:66px;
    height: 48px;
    top:0;
    color: #fff !important;
    position: fixed;
    display: flex;
    justify-content:space-between;
    background-color:#00b4d4;
}
.heading{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:15px ;
    letter-spacing: 1px;
}
.right-header{
    display: flex;
    align-items: center;
    margin-right: 20px;
   
}
.upgrade{
    border: 2px solid;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    margin-right: 20px;
}
